body {
  background-color: #0e1331;
  font-family: "Are You Serious", cursive;
  color: #ffffff;
}

.main-post {
  background-color: #303f9f;
  text-align: center;
  margin: 40px auto;
  border: 10px solid #161d49;
  width: 1000px;
  font-size: 50px;
}

.post {
  background-color: #03a9f4;
  font-size: 20px;
  text-align: center;
  margin: 40px auto;
  border: 10px solid #1976d2;
  width: 1000px;
  font-size: 30px;
}

.post-image {
  background-position: center;
  background-size: cover;
  color: white;
  height: 60vh;
}

.description {
  font-size: 40px;
}

.author {
  color: #89daff;
}

.image-links {
  font-size: 50px;
  color: #bbdefb;
}

#image-penguin {
  background-image: url(img/penguin.jpg);
}

#image-turkey {
  background-image: url(img/turkey.jpg);
}

#image-chicken {
  background-image: url(img/chicken.jpg);
}
